# Server (app) configuration
APP_PORT=<number | 3000>
USE_HTTPS=<true | false>

# JWT configuration
ACCESS_SECRET_KEY=<string>
REFRESH_SECRET_KEY=<string>

DB_HOST=<string | localhost>
DB_PORT=<number | 27017>
DB_DATABASE_NAME=<string>

# Momo payment configuration (sandbox environment)
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
MOMO_REDIRECT_URL=https://momo.vn/return

# For IPN URL, use the ngrok URL or the URL provided by the dev tunnel
MOMO_IPN_URL=https://xg31jk8f-3000.asse.devtunnels.ms/api/v1/transaction/notify/momo

MOMO_EXPIRE_TIME_MINUTES=30

# Redis configuration
REDIS_HOST=<string | localhost>
REDIS_PORT=<number | 6379>
REDIS_USERNAME=<string>
REDIS_PASSWORD=<string>
