# Server (app) configuration
APP_PORT=<number | 3000>
USE_HTTPS=<true | false>

# JWT configuration
ACCESS_SECRET_KEY=<string>
REFRESH_SECRET_KEY=<string>

DB_HOST=<string | localhost>
DB_PORT=<number | 27017>
DB_DATABASE_NAME=<string>

# Redis configuration
REDIS_HOST=<string | localhost>
REDIS_PORT=<number | 6379>
REDIS_USERNAME=<string>
REDIS_PASSWORD=<string>

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=wdp301-se1833-nj-group-5-bucket
MINIO_REGION=us-east-1
MINIO_PUBLIC_ENDPOINT=http://localhost:9000/wdp301-se1833-nj-group-5-bucket
STORAGE_PROVIDER=minio
MINIO_EXPIRY_SECONDS=600
MINIO_FIXED_EXPIRY_SECONDS=86400

PAYOS_CLIENT_ID=<string>
PAYOS_API_KEY=<string>
PAYOS_CHECKSUM_KEY=<string>
PAYOS_API_URL=https://api-merchant.payos.vn/v2/payment-requests

CLOUDINARY_CLOUD_NAME=<your-cloudinary-cloud-name>
CLOUDINARY_API_KEY=<your-cloudinary-api-key>
CLOUDINARY_API_SECRET=<your-cloudinary-api-secret>

# Mailer Configuration
MAIL_HOST=<your-email-host | smtp.gmail.com>
MAIL_PORT=<your-email-port | 465>
MAIL_SECURE=<true | false>
MAIL_USER=<your-email-address>
MAIL_PASSWORD=<your-email-password>
MAIL_FROM=<your-email-address>
